---
---
@charset "utf-8";
// Your custom css /scss here

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  //visibility: hidden;
}

/*
.highlighter-rouge:hover button.btn-copy-ex {
  visibility: visible;
}
*/

// Scroll on pre
pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}