@charset "utf-8";

pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.btn-copy-code {
  position: absolute;
  right: 30px;
  top: 15px;
  visibility: hidden;
}

.highlighter-rouge:hover p.btn-copy-code {
  visibility: visible;
}